{% extends 'base_admin.html' %}
{% block title %} WSR {% endblock title %}
{% load static %}
{% block content %}

<!-- Inicio HTML -->
<body>
    <div class="container-fluid">
        <!-- Contadores -->
        <div class="row">
            <!-- Abordagem -->
            <div class="col-xl-6 col-md-6 mb-2">
                <a href="#" class="card-link">
                    <div class="card border-left-info shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xxl font-weight-bold text-info text-uppercase mb-1">Abordagem</div>
                                    <div class="row no-gutters align-items-center">
                                        <div class="col">
                                            <div class="progress progress-sm mr-2">
                                                <div class="progress-bar bg-info" role="progressbar"
                                                    style="width: 0%" aria-valuenow="0" aria-valuemin="0"
                                                    aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-hand-peace fa-2x text-black-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Fim Abordagem -->

            <!-- Conexão -->
            <div class="col-xl-6 col-md-6 mb-2">
                <a href="#" class="card-link">
                    <div class="card border-left-info shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xxl font-weight-bold text-info text-uppercase mb-1">Conexão
                                    </div>
                                    <div class="row no-gutters align-items-center">
                                        <div class="col">
                                            <div class="progress progress-sm mr-2">
                                                <div class="progress-bar bg-info" role="progressbar"
                                                    style="width: 0%" aria-valuenow="0" aria-valuemin="0"
                                                    aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-eye fa-2x text-black-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Fim Conexão -->
        </div>
        <!-- Fim Contadores-->

        <!-- Botões -->
        <div class="row justify-content-between">
            <!-- Botões Abordagem -->
            <div class="card-text accordion text-Left mt-2 ml-2" id="accordion_apresentacao">
                <!-- Caixa de seleção personalizada -->
                <div class="custom-control custom-checkbox my-2">
                    <input type="checkbox" class="custom-control-input" id="customCheck">
                    <label class="custom-control-label" for="customCheck">
                        <div class="btn btn-success btn-icon-split" data-toggle="collapse" data-target="#Apresentação_pessoal">
                            <span class="icon text-white-50">
                                <i class="fas fa-check"></i>
                            </span>
                            <span class="text">Apresentação pessoal</span>
                        </div>
                    </label>
                </div>
                <!-- Caixa de seleção personalizada -->
                <div class="custom-control custom-checkbox my-2">
                    <input type="checkbox" class="custom-control-input" id="customCheckI">
                    <label class="custom-control-label" for="customCheckI">
                        <div class="btn btn-success btn-icon-split" data-toggle="collapse" data-target="#Apresentação_empresa">
                            <span class="icon text-white-50">
                                <i class="fas fa-check"></i>
                            </span>
                            <span class="text">Apresentação da empresa / objetivo da ligação</span>
                        </div>
                    </label>
                </div>
            </div>
            <!-- Fim Botões Abordagem -->

            <!-- Botões Conexão -->
            <div class="card-text accordion text-right mt-2 mr-3 " id="accordion_conexao">
                <!-- Botão "Objetivo" -->
                <!-- Caixa de seleção personalizada -->
                <div class="custom-control custom-checkbox my-2">
                    <input type="checkbox" class="custom-control-input" id="customCheckII">
                    <label class="custom-control-label" for="customCheckII">
                        <div class="btn btn-success btn-icon-split" data-toggle="collapse" data-target="#coletar_informacoes">
                            <span class="icon text-white-50">
                                <i class="fas fa-check"></i>
                            </span>
                            <span class="text">Objetivo do inglês na vida do aluno</span>
                        </div>
                    </label>
                </div>
                <!-- Caixa de seleção personalizada -->
                <div class="custom-control custom-checkbox my-2">
                    <input type="checkbox" class="custom-control-input" id="customCheckIII">
                    <label class="custom-control-label" for="customCheckIII">
                        <div class="btn btn-success btn-icon-split" data-toggle="collapse" data-target="#coletar_informacoesII">
                            <span class="icon text-white-50">
                                <i class="fas fa-check"></i>
                            </span>
                            <span class="text">Possiveis objeções</span>
                        </div>
                    </label>
                </div>
            </div>
            <!-- Fim Botões Conexão -->
        </div>
        <!-- Fim Botões -->

        <!-- Textos ocultos -->
        <div class="row">
            <!-- textos Abordagem -->
            <div class="row col-xl-5 col-md-5 mt-2 mr-auto">
                <div class="card shadow text-left">
                    <!-- Card apresentação pessoal -->
                    <div id="Apresentação_pessoal" class="collapse">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Apresentação Pessoal</h6>
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuI"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                    aria-labelledby="dropdownMenuLink">
                                    <div class="dropdown-header">Opções:</div>
                                    <a class="dropdown-item" href="#">Editar</a>
                                    <a class="dropdown-item" href="#">Deletar</a>
                                </div>
                            </div>
                        </div>
                        <div class="card card-body">
                            <p class="card-text">
                                Olá Fulano(a), me chamo ...... sou especialista da
                                plataforma Wise Up Online, tudo bem com você?
                            </p>
                        </div>
                    </div>

                    <!-- Card Objetivo da ligação -->
                    <div id="Apresentação_empresa" class="collapse">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Objetivo da ligação</h6>
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuII"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                    aria-labelledby="dropdownMenuLink">
                                    <div class="dropdown-header">Opções:</div>
                                    <a class="dropdown-item" href="#">Editar</a>
                                    <a class="dropdown-item" href="#">Deletar</a>
                                </div>
                            </div>
                        </div>
                        <div class="card card-body">
                            <p class="card-text">
                                Fulano(a) estou te ligando pois você demonstrou interesse em estar aprendendo inglês,
                                pode me contar um pouquinho mais sobre seu projeto??
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fim textos Abordagem -->

            <!-- textos Conexão -->
            <div class="row col-xl-5 col-md-5 mt-2 ml-auto">
                <div class="card shadow text-left">
                    <!-- Card Motivação -->
                    <div id="coletar_informacoes" class="collapse">
                        <div class="card-header py-3 d-flex flex-row  justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Motivação?</h6>
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuIII"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                    aria-labelledby="dropdownMenuLink">
                                    <div class="dropdown-header">Opções:</div>
                                    <a class="dropdown-item" href="#">Editar</a>
                                    <a class="dropdown-item" href="#">Deletar</a>
                                </div>
                            </div>
                        </div>
                        <div class="card card-body">
                            <p class="card-text">
                                O que busca no inglês? Em quanto tempo precisa estar falando inglês?
                                Trabalha com o que? Já fez ingles alguma vez? Está começando do zero?
                                Outras motivações para estudar inglês.
                            </p>
                        </div>
                    </div>

                    <!-- Card Objeções -->
                    <div id="coletar_informacoesII" class="collapse">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">O que impede?</h6>
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuIV"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                    aria-labelledby="dropdownMenuLink">
                                    <div class="dropdown-header">Opções:</div>
                                    <a class="dropdown-item" href="#">Editar</a>
                                    <a class="dropdown-item" href="#">Deletar</a>
                                </div>
                            </div>
                        </div>
                        <div class="card card-body">
                            <p class="card-text">
                               Entendi Fulano(a), e hoje teria alguma coisa que te impediria de estudar inglês??
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fim textos Conexão -->
        </div>
        <!-- Fim textos ocultos -->
    </div>


    <!-- Botões inferiores -->
    <div class="position-fixed fixed-bottom text-center mb-5">
    <!-- Botão "Desligou" -->
        <div class="col-xl-2 col-md-6 mb-5 d-inline-block">
          <a href="{% url 'APP_GPS:gps' %}" class="card-link">
            <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Desligou</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-phone-slash fa-2x"></i>
                        </div>
                    </div>
                </div>
            </div>
          </a>
        </div>

        <!-- DI -->
        <div class="col-xl-3 col-md-6 mb-5 d-inline-block">
          <a href="{% url 'APP_GPS:di' %}" class="card-link">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xxl font-weight-bold text-primary text-uppercase mb-1">DI</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-arrow-right fa-2x text-black-300"></i>
                        </div>
                    </div>
                </div>
            </div>
          </a>
        </div>
    </div>
    <!-- Final botões inferiores -->


        <!-- Final html -->
</body>

<!-- Adicione este script modificado -->
<script>
  // Variáveis
  const durations = [30, 180]; // Durações em segundos para cada barra de progresso
  const progressBars = document.querySelectorAll('.progress-bar');
  const cards = document.querySelectorAll('.card-link');

  let cardIndex = 0;
  let elapsedSeconds = 0;
  let interval;

  // Função para atualizar a barra de progresso
  function updateProgressBar() {
    elapsedSeconds++;
    const progressPercentage = (elapsedSeconds / durations[cardIndex]) * 100;
    progressBars[cardIndex].style.width = progressPercentage + '%';
    if (elapsedSeconds >= durations[cardIndex]) {
      clearInterval(interval);
      cardIndex++; // Avance para o próximo card
      if (cardIndex < cards.length) {
        startCountdown(); // Inicie o contador para o próximo card
        // Mostra a div oculta do card atual e oculta as outras
        cardTexts.forEach((text, index) => {
          if (index === cardIndex) {
            text.style.display = 'block';
          } else {
            text.style.display = 'none';
          }
        });
      }
    }
  }



  // Função para iniciar o contador
  function startCountdown() {
    elapsedSeconds = 0;
    progressBars[cardIndex].style.width = '0%';
    interval = setInterval(updateProgressBar, 1000);
  }


  // Adicionar um evento de clique para cada card
  cards.forEach((card, index) => {
    card.addEventListener('click', () => {
      if (cardIndex === index) {
        // Se o card clicado for o mesmo em andamento
        clearInterval(interval); // Limpa o intervalo atual
        elapsedSeconds = durations[cardIndex]; // Define o tempo decorrido como a duração para preencher a barra
        updateProgressBar(); // Atualiza a barra de progresso
      }
    });
  });



  // Iniciar o contador quando a página carregar (inicie com o primeiro card)
  startCountdown();



    // Recolher os botões não clicados
      document.querySelectorAll('.btn[data-toggle="collapse"]').forEach(function (btn) {
        btn.addEventListener('click', function () {
            const target = document.querySelector(btn.getAttribute('data-target'));
            const allCollapses = document.querySelectorAll('.collapse');
            allCollapses.forEach(function (collapse) {
                if (collapse !== target) {
                    $(collapse).collapse('hide');
                }
            });
        });
    });


</script>



<!-- Fim HTML -->

{% endblock content %}
